@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap");
@import "dark.scss";

$page-width: 1400px;
$font: "Space Grotesk", sans-serif;
$nav-size: 64px;
$text: rgb(31, 41, 55);
$link-text: rgb(33, 100, 207);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: $font;
  line-height: 28px;
  color: $text;
}
