---
import '../styles/main.scss';
import { getCollection } from "astro:content";
import { generateNavigation } from "../utils/generateNavigation";
import TestComponent from "../components/TestComponent";
const docs = await getCollection("docs");
const nav = generateNavigation(docs)



---
<div class="p-10 flex flex-col gap-20">
<p class="text-4xl ">
    
    Navigation
</p>
<TestComponent
client:load
    nav={nav}
/></div>